*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";
@import "partials/spacing";

html {
    // Scrool mais suave de transição
    scroll-behavior: smooth;
  }
  body {
    width: 100%;
    height: 100vh;
    position: relative;
  
    scroll-behavior: smooth;
  
    background-color: #1a1a1a;
  }
  
  // Para deixar imagens e SVGs fluidos
  svg {
    width: 100%;
  }
  
  img {
    width: 100%;
  }
  
  .border {
    border: 1px solid red;
  }
  
.teste-cadeira{
  width: 56px;
  height: 50px;
  background: linear-gradient(46.1deg, rgba(168, 254, 117, 0.74) 38.03%, #20DBDA 95.59%);
  border-radius: 9px;
  margin: 12px;

  transition: 3s ease-in-out;

  cursor: pointer;
}

  .teste-cadeira-reserved{
    width: 56px;
    height: 50px;
    background: linear-gradient(221.72deg, rgba(226, 23, 47, 0.74) 30.84%, #EA38A3 67.78%);
    border-radius: 9px;
    margin: 12px;
  
    transition: 3s ease-in-out;
  
    cursor: pointer;
 }

 .teste-cadeira-blocked{
  width: 56px;
  height: 50px;
  background: linear-gradient(221.72deg, rgba(242, 229, 231, 0.74) 30.84%, #736F71 83.56%);
  border-radius: 9px;
  margin: 12px;

  transition: 3s ease-in-out;

  cursor: pointer;
}

.container-advantageCard {
  width: 100%;
  height: auto;
  position: relative;
  margin: 2rem auto 6rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subTitle {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1rem;
  color: #fff; 
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 5.8rem auto 4rem;
  line-height: 2rem;
}

.subTitle h2 {
  margin-right: 0.5rem;
}

.advantageCard {
  position: relative;
  cursor: pointer;
}

.advantageCard > .face {
  width: 18.75rem;
  height: 12.5rem;
  transition: 0.5s;
}

.advantageCard .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.advantageCard:hover .face.face1 .content{
  opacity: 1; 
}

.advantageCard:hover .face.face1 {
  transform: translateY(0);
  background-color: #FE4400;
}

.advantageCard .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.advantageCard:hover .face.face2 {
  transform: translateY(0);
}

.content img {
  width: 150px;
}   

.content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.content p {
  margin: 0;
  padding: 0;
}

.content a {
  margin: 15px 0 0;
  display: inline-block;

  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  transition: 0.5s;
}

.content a:hover {
  background: #333;
  color: #fff;
}

