header{
    width: 100%;
    height: auto;
    background-color: #F8F9FA;
    box-shadow: 0px 3px 6px #00000029;

    position: relative;
}

.navbar{
    max-width: $container-xl;
    margin: 0 auto;
    padding: 10px 24px;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo{
    width: 150px;
    height: auto;

    @include flexContainer(center, center);

    
}

.menu{
    list-style: none;
}

.menu-link{
    position: relative;
    font-weight: 700;
    
    &:nth-child(1){
        margin-right: 72px;
    } 

    &:hover{
        color: $primary-light;
    }

}

#bar::after{
    content: '';
    position: absolute;
    
    height: 30px;

    top: -20%;
    right: -50%;

    border: 1px solid $black-normal;
}

#bar{
    @include responsive(s){
        display: none;
    }
}