.container{
    max-width: $container-xl;
    margin: 0px auto;
    background-color: $white-light;
  
    padding: 48px 16px;
  
    @include flexContainer(center, center, column);
  
    overflow: hidden;
  
    @include responsive(s){
      @include flexContainer(center, center, column);
      padding: 32px 18px;
    }
    
  }

.reservation-card {

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    

    & img{
       width: 450px;
       object-fit: cover;
       border-radius: 8px 8px 0px 0px;
    }

    @include responsive(s){
        flex-direction: column;
    }
}

.card-body{
    width: 100%;
    height: 40px;
    padding: 24px;

    font-size: 24px;
    font-weight: 800;

    background-color: $white-dark;

    border-radius: 0px 0px 8px 8px;
    transform: translateY(-26px);
    z-index: 1;

    @include flexContainer(center, center);

     & > p {
        color: $black-dark;
    }
}

.workstation{
    opacity: .8;
    transition: .3s ease;
    
        &:hover{
        opacity: 1;
        transform: scale(1.02);
    }
}

.meeting{
    opacity: .8;
    transition: .3s ease;
    
        &:hover{
        opacity: 1;
        transform: scale(1.02);
    }
}